    <meta property="og:type" content="article">
    <meta property="og:url" content="https://mediapunta.org{{page.url}}">
    <meta property="og:title" content='{{page.title}}'>
    <meta property="og:description" content="{{page.description}}">
    <meta property="twitter:site" content="@mediapuntablog">
    <meta property="twitter:creator" content="{{page.author}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://mediapunta.org{{page.thumbnail}}">