{% include header.html %}
{%include google-analytics.html%}
{%include metatags_post.html%}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-custom2 navbar-shadow navbar-big">
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#NavBuger"
                aria-controls="NavBuger" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="NavBuger">
                <div class="container">
                    <ul class="navbar-nav d-flex justify-content-start">
                        <li class="nav-item item-font">
                            <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
                        </li>
                        <li class="nav-item item-font">
                            <a class="nav-link active" href="/posts/"><i class="fas fa-comments"></i> Blog</a>
                        </li>
                        <li class="nav-item item-font">
                            <a class="nav-link hide" href="#"><i class="fas fa-address-book"></i> Categorías</a>
                        </li>
                        <li class="nav-item item-font">
                            <a class="nav-link" href="/team/"><i class="fas fa-users"></i> Equipo</a>
                        </li>
                        <li class="nav-item item-font">
                            <a class="nav-link" href="/donate/"><i class="fab fa-paypal"></i> Donar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="card google-ads-3">
            <div class="text-center">
                <p class="lead">publicidad</p>
            </div>
        </div>
    </div>
    <main class="container">
        <div class="text-center">
            <h1 class="blog-title">{{page.title}}</h1>
            <p class="lead text-muted">{{page.description}}</p>
            <p class="text-muted"><i>{{page.date | date: '%d/%m/%y'}}</i></p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <h6 style="padding-bottom: 50px">
                    {% for tag in page.tags %}
                    <span class="badge badge-pill bg-dracula">{{tag}}</span>
                    {% endfor %}
                </h6>
                {%for author in site.authors%}
                {%if author.title == page.author%}
                <div class="card mb-3 profile-card box-shadow">
                    <div class="container">
                        <div class="text-center mt-5 mb-2">
                            <img src="{{author.pic}}" alt="" class="profile-pic">
                            <a href="{{author.url}}" class="color-dracula">
                                <h2 class="profile-title"> {{author.title}} </h2>
                            </a>
                            {%for badge in author.badges%}
                            <img src="{{badge}}" alt="" class="team-badge">
                            {%endfor%}
                            <p class="text-muted mb-0">{{author.description}}</p>
                            <a class="text-black" target="_blank" href="{{author.mail}}"><i
                                    class="fas fa-envelope"></i></a>
                            <a class="text-black" target="_blank" href="{{author.twitter}}"><i
                                    class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
                <div class="text-center">
                    <button onclick="popupOpen('http://www.facebook.com/sharer.php?u=https://mediapunta.org{{page.url}}')" class="btn mx-1 btn-circle btn-facebook"><i class="fab fa-facebook-f"></i></button>
                    <button onclick="popupOpen('https://twitter.com/intent/tweet?url=https://mediapunta.org{{page.url}}&text={{page.title}}&via=mediapuntablog')" class="btn mx-1 btn-circle btn-twitter"><i class="fab fa-twitter"></i></button>
                    <button onclick="popupOpen('https://web.whatsapp.com/send?text=https://mediapunta.org{{page.url}}')" class="btn mx-1 btn-circle btn-whatsapp"><i class="fab fa-whatsapp"></i></button>
                    <hr>
                </div>
                <div class="card google-ads-2">
                    <div class="text-center">
                        <p class="lead">publicidad</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="blog-content">
                    {{content}}
                </div>
            </div>
        </div>
    </main>

</body>
{% include footer.html %}